extends layout
block content
  h1= title
  form(id='EmployeeForm', action="/resource/Employee", method="POST")
    div.form-group
        label.EmployeeAttr(for='EmpName') Employee type
        input#EmpName(type='text', name='EmpName')
    div.form-group
        label.EmployeeAttr(for='EmpType') Employee EmpType
        input#EmpType(type='text', name='EmpType')
    div.form-group
        label.EmployeeAttr(for='EmpSal') Employee EmpSal
        input#EmpSal(type='number', name='EmpSal')
    input(type="submit")
  script.
        document.forms['EmployeeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });