extends layout
block content
  h1 = title
  if (toShow == null) 
    h2 No instance to delete 
  else      
    - let Employeeid = toShow._id
    - let EmpName = toShow.EmpName
    - let EmpSal = toShow.EmpSal
    - let EmpType = toShow.EmpType
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{Employeeid}
    - let actionid = "/resource/Employee/" + Employeeid
    form(id='EmployeeForm', action= actionid, method="PUT")
        div.form-group
            label.EmployeeAttr(for='EmpName') Employee Name 
            input#EmpName(type='text', name='EmpName', value= EmpName )
        div.form-group
            label.EmployeeAttr(for='EmpType') Employee Type
            input#EmpType(type='text', name='EmpType', value= EmpType )
        div.form-group
            label.EmployeeAttr(for='EmpSal') Employee Sal
            input#EmpSal(type='number', name='EmpSal', value= EmpSal )
        input(type="submit")
    script.
        document.forms['EmployeeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
        });
        });